<table style="width:100%, border='1'">
  <tr>
    <td>Category</td>
    <td>Price</td>
  </tr>
  <tr>
<% @products.each do |product| %> 
<tr>
  <td><%= link_to product.category.title, product_path(product) %></td>                   
  <td><%= product.price %><td>
<% end %>
</tr>
</table>